body {
  max-width: 365px;
  margin: auto;
  background: #fffff4;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* start of menu */
.menu {
  display: flex;
  flex-flow: row wrap;
  background-color: #243888;
}

header {
  position: sticky;
  top: 0;
}

.logo {
  width: 50px;
  height: 50px;
  border: 4px solid #9c6aaa;
  background-color: white;
  border-radius: 50%;
  margin: 10px 10px;
  align-self: center;
}

.phone-number {
  color: white;
  margin: 10px 10px;
  align-self: center;
  font-weight: 600;
  font-size: 20px;
}

.icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}

.icon-container img {
  width: 25px;
  height: 22px;
}
/* end of menu */


/* start of main section containing the messages */
main {
  background-color: #fedba3;
}

a {
  color: #3366CC;
}

.chat-container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chat-bubble p {
  margin: 0;
  padding: 17px 17px;
}

.chat-bubble {
  width: 60%;
  border-radius: 40px 40px 40px 0px;
}

.person-1 {
  background-color: #9c6aaa;
  align-self: flex-end;
  margin-right: 20px;
  border-radius: 40px 40px 0 40px;
}

.person-2 {
  background-color: #c6c6c6;
  margin-left: 20px;
}

.gif {
  width: 45%;
  margin-left: 20px;
}

.image-end {
  width: 60%;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

/* the margins of the messages divs may vary, reason is they were 
not sent the same day */
.normal-distance {
  margin-bottom: 30px;
}

.same-person-distance {
  margin-bottom: 10px;
}

.next-day-distance {
  margin-bottom: 50px;
}

.last-message-distance {
  margin-bottom: 50px;
}

.chat-status {
  margin-top: 0;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  background-color: rgb(255, 201, 140);
  padding: 10px;
  border-radius: 5px;
}

.chat-status-time {
  font-weight: 100;
  font-size: 13px;
}
/* end of main section */


footer {
  position: sticky;
  bottom: 0;
}